<nav>
    <ul class="main-menu">

        <li>
            <a href="{{ '/index.html' | relative_url }}">Start</a> |
        </li>

        <li>
            <a href="{{ '/baggrund.html' | relative_url }}">Sagaer og Skrøner</a> |
        </li>

        <li class="has-dropdown">

            <a href="{{ '/karakterer.html' | relative_url }}">Folk og Fæ ▼</a>

                <ul class="dropdown">

                    <li>
                        <a href="{{ '/karakterer/pc.html' | relative_url }}">Heltene</a>
                    </li>    

                    <li>
                        <a href="{{ '/karakterer/npc.html' | relative_url }}">Skurke</a>
                    </li>

                    <li>
                        <a href="{{ '/karakterer/steder.html' | relative_url }}">Lokationer</a>
                    </li>
             
                </ul>

         </li>
       <li>
            <a href="{{ '/bordregler.html' | relative_url }}">Bordregler</a> |
       </li>

    </ul>
</nav>
