<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;swap
    
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>

<body>
    <img
        class="banner"
        src="{{ '/assets/images/Banner.png' | relative_url }}"
        alt="Davevang banner">
        
    {% include navigation.html %}

    {{ content }}

</body>
</html>

